<div class="container">
    <div class="row">
        <h1 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Supply Chain Models</h1>
        <div class="col-md-12" style="margin-bottom: 20px;">
            <h5>Supply chain modeling is a conscious attempt to bring order into supply chains’ complexity to achieve
                certain business objectives.
                <br>
                <button (click)="displayModels()" href="">Discover</button> the 6 types of models below:
            </h5>
        </div>
    </div>
    <div class="row">
        <app-supply-chain-models></app-supply-chain-models>
    </div>
</div>