<mat-card class="cardBorder">
    <mat-card-header>
        <div mat-card-avatar class="mat-header-image"></div>
        <mat-card-title>Angular Training</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/angular.png" alt="Angular" />
    <mat-card-content>
        <p>Some text for the description without which it would be hard to understand.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Explore</button>
        <button mat-raised-button color="warn">Add To Cart</button>
    </mat-card-actions>
</mat-card>>