<!-- <form>
    <mat-form-field>
        <input type="text" placeholder="Please type your country" mat-input [matAutoComplete]="country" />
    </mat-form-field>
    <mat-autocomplete #country="matAutoComplete">
        <mat-option value="SG">Singapore</mat-option>
        <mat-option value="IN">India</mat-option>
        <mat-option value="US">United States</mat-option>
        <mat-option value="GB">Great Britain</mat-option>
    </mat-autocomplete>
</form> -->

<!-- <mat-form-field>
    <label>Enter something</label><br>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ "Apple" }}
    </mat-option>
  </mat-autocomplete> -->

  <form class="example-form">
    <mat-form-field class="example-full-width">
      hello world
    </mat-form-field>
  </form>
  