<section class="row">
  <section class="col-md-3" *appCustomLoop=[loop]>
    <div class="card" style="width: 18rem;">
      <img src="../../../../assets/images/lamborghini.png" class="card-img-top" alt="Lamborghini">
      <div class="card-body">
        <h5 class="card-title">2021 Lamborghini SC20</h5>
        <p class="card-text">A Roofless 770-HP Aventador Approved For Road Use</p>
        <a href="#" class="btn btn-primary" [ngStyle]="{'background-color': 'red'}">
          Explore</a>
      </div>
    </div>
  </section>
</section>