<section class="container">
  <section class="row">
    <div class="col-md-4">
      <h1>List of Posts</h1>
    </div>
    <div class="col-md-4 align-items-center">
      <input type="text" class="form-control m-2" placeholder="Search" [(ngModel)]="query" id="listSearch">
      <!-- <input type="text" class="m-2" [(ngModel)]="query">
      <button class="btn btn-secondary btn-sm m-2">Search</button> -->
    </div>
    <div class="col-md-4">
      <h1><span class="fa fa-plus-circle float-end" title="Create new post"></span></h1>
    </div>

  <button class="btn-primary" (click)="stopClick()">Disable Click</button>
  <section class="col-md-3" *ngFor="let service of posts | searchFilter: query, trackBy: trackByFn">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{service.title}}</h5>
        <p class="card-text">{{service.body}}</p>
        <a href="#" routerLink="post-details/{{service.id}}" class="btn btn-danger" id="{{service.title}}">Go
          Explore</a>
      </div>
    </div>
  </section>
</section>
</section>